@font-face {
  font-family: neu;
  src: url(./fonts/NeueHaasDisplayMediu.ttf);
}
@font-face {
  font-family: neu;
  font-weight: 100;
  src: url(./fonts/NeueHaasDisplayLight.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  max-width: 1920px;
  overflow-x: hidden;
  font-family: neu, "Courier New", Courier, monospace;
}
#main {
  /* background-color: black; */
  position: relative;
  z-index: 10;
}
.scroll-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  height: 4vw;
  width: 4vw;
  padding: 1vw;
  cursor: pointer;
  border-radius: 50%;
  z-index: 9999;
  background: linear-gradient(to top right, #ff2d03, #ff5c0b);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
#page1 {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  padding: 0 2vw;
}
nav {
  padding: 2vw 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 100;
}
#nav-part2 {
  display: flex;
  align-items: center;
  gap: 1vw;
}
.hamburger-wrapper {
  display: none;
}
#nav-part2 h4 {
  padding: 10px 20px;
  border-radius: 50px;
  border: 1px solid #0000003c;
  color: #000000bb;
  position: relative;
  overflow: hidden;
  font-size: 18px;
  transition: all ease 0.4s;
}
#nav-part2 h4::after {
  content: "";
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 50px;
  transition: all ease 0.4s;
}
#nav-part2 h4:hover::after {
  bottom: 0;
  border-radius: 0;
}

#nav-part2 h4 a {
  text-decoration: none;
  color: #000000bb;
  position: relative;
  z-index: 9;
}

#nav-part2 h4:hover a {
  color: #efeae3;
}

#center {
  height: 65vh;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid #0000003c;
  padding-bottom: 2.2vw;
}
#left h3 {
  width: 25vw;
  font-size: 1.8vw;
  line-height: 1.1;
}
#right h2 {
  font-size: 22vh;
  text-align: right;
  line-height: 0.8;
}
#page1 video {
  position: relative;
  width: 100%;
  border-radius: 30px;
  margin-top: 4vw;
}
#hero-shape {
  position: absolute;
  right: 0;
  top: 65vh;
  height: 32vw;
  width: 46vw;
}
#hero-1 {
  background-color: orangered;
  height: 100%;
  width: 100%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  filter: blur(20px);
  position: absolute;
}
#hero-2 {
  background-color: orangered;
  height: 30vw;
  width: 30vw;
  border-radius: 50%;
  filter: blur(25px);
  position: absolute;
}
#hero-3 {
  background-color: orangered;
  height: 30vw;
  width: 30vw;
  border-radius: 50%;
  filter: blur(25px);
  position: absolute;
  animation-name: anime1;
  animation-timing-function: linear;
  animation-duration: 3s;
  animation-direction: alternate;
}

@keyframes anime1 {
  from {
    transform: translate(55%, -3%);
  }

  to {
    transform: translate(0%, 10%);
  }
}

@keyframes anime2 {
  from {
    transform: translate(5%, -5%);
  }

  to {
    transform: translate(-20%, 30%);
  }
}
#page2 {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  padding: 8vw 0;
  position: relative;
}
#moving-text {
  overflow-x: auto;
  white-space: nowrap;
}
#moving-text::-webkit-scrollbar {
  display: none;
}
.con {
  display: inline-block;
  white-space: nowrap;
  animation: move;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.con h1 {
  font-size: 9vw;
  display: inline-block;
}
#circle {
  height: 50px;
  width: 50px;
  background-color: orangered;
  border-radius: 50%;
  display: inline-block;
  margin: 1vw 2vw;
}
@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
#page2-bottom {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vw 2vw;
  position: relative;
  z-index: 99;
}
#page2-bottom h1 {
  width: 60%;
  font-size: 4vw;
  line-height: 4vw;
}
#bottom-part2 {
  width: 20%;
}
#bottom-part2 img {
  border-radius: 15px;
  width: 100%;
}
#bottom-part2 p {
  margin-top: 3vh;
  font-weight: 100;
}
#blob {
  height: 30vw;
  width: 30vw;
  position: absolute;
  top: 70%;
  left: 25%;
  border-radius: 50%;
  background: linear-gradient(to top right, #ff2d03, #ff5c0b);
  filter: blur(20px);
  animation: blob-anime;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
@keyframes blob-anime {
  from {
    filter: blur(20px);
    transform: translate(10%, -10%) skew(0);
  }
  to {
    filter: blur(30px);
    transform: translate(-10%, 10%) skew(-12deg);
  }
}
#page3 {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  padding: 4vw 0;
}
#page4 {
  height: 70vh;
  width: 100%;
  padding: 5vw 2vw;
  background-color: #efeae3;
}
#page4 h2 {
  font-size: 1.5vw;
  font-weight: 100;
  position: relative;
  margin: 0 1.4vw 5vw 1.4vw;
}
#page4 h2::before {
  content: "";
  position: absolute;
  left: -15px;
  top: 6px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: red;
}
/* swiper code start here  */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 30% !important;
  height: 30vh !important;
  border-left: 1px solid #aeafad;
  padding: 0 2vw;
}
.brand-logo {
  padding: 1vw 0;
}
.client-content {
  font-size: 1vw;
  font-weight: 100;
}

.elem {
  height: 150px;
  width: 100%;
  padding: 0 2vw;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-bottom: 1px solid #38383864;
}
.elem h2 {
  font-size: 3vw;
  position: relative;
  z-index: 9;
}
.overlay {
  height: 100%;
  width: 100%;
  background-color: orange;
  position: absolute;
  top: -100%;
  left: 0;
  transition: all ease 0.25s;
}
.elem:hover .overlay {
  top: 0;
}
.fixed-image {
  position: fixed;
  top: 20%;
  left: 50%;
  height: 30vw;
  width: 26vw;
  background-color: #ff2d03;
  z-index: 99;
  border-radius: 15px;
  display: none;
  background-size: cover;
  background-position: center;
}
#page5 {
  height: 100vh;
  width: 100%;
  /* background-color: #aeafad; */
}
#footer {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 105vh;
  width: 100%;
  z-index: 9;
  bottom: 0px;
  background-color: rgb(0, 0, 0);
}
#footer h1 {
  color: #ffff;
  font-size: 23vw;
  border-bottom: 1px solid white;
  padding: 0 2vw;
}
#footer-div {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 250px;
  width: 100%;
  background-color: ff2d03;
  padding: 7vw 4vw;
}
.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5vw;
}
.footer-right {
  width: 25vw;
  display: flex;
  flex-direction: column;
  gap: 2vw;
}
.footer-right form input {
  z-index: 9999999;
  outline-color: transparent;
  background-color: transparent;
  border-color: transparent;
  border-bottom: 2px solid #fff;
  padding: 0.5vw 0;
  width: 100%;
}
.footer-right form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-right form button {
  background-color: transparent;
  outline-color: transparent;
  border-color: transparent;
}
.arrow-icon {
  height: 20px;
  width: 20px;
}
.footer-right h2 {
  color: white;
}
.footer-left h2 a {
  text-transform: uppercase;
  text-decoration: none;
  color: #efeae3;
}

#footer-bottom {
  border-top: 1px solid #dadada;
  height: 10vh;
  width: 100%;
}
#footer-bottom p {
  text-align: center;
  margin-top: 2vw;
  color: #fff;
}
#full-scr {
  height: 100vh;
  width: 100vw;
  background-color: rgba(18, 18, 18, 0.611);
  position: fixed;
  top: -108%;
  z-index: 99;
  transition: all ease 0.5s;
}
#loader {
  height: 100%;
  width: 100%;
  background-color: #000;
  position: fixed;
  z-index: 999;
  top: 0;
  transition: all ease 0.7s;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loader h1 {
  font-size: 4vw;
  color: transparent;
  background: linear-gradient(to right, orange, orangered);
  background-clip: text;
  position: absolute;
  opacity: 0;
  animation-name: load;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-timing-function: linear;
}
#loader h1:nth-child(2) {
  animation-delay: 2s;
}
#loader h1:nth-child(3) {
  animation-delay: 3s;
}

@keyframes load {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media (max-width: 600px) {
  #loader h1 {
    font-size: 9vw;
  }
  .scroll-to-top {
    height: 12vw;
    width: 12vw;
    padding: 3vw;
  }
  nav {
    position: relative;
    z-index: 100;
    padding: 8vw 5vw;
  }
  #center {
    height: 62vh;
    position: relative;
    flex-direction: column-reverse;
    align-items: flex-end;
    padding: 7vw 5vw;
    z-index: 99;
  }
  #page1 {
    padding: 0;
  }
  #left h3 {
    width: 80%;
    font-size: 6vw;
    line-height: 6vw;
  }
  #right h2 {
    font-size: 17vw;
    line-height: 15vw;
  }
  #page1 nav img {
    transition: all ease 0.5s;
    height: 9vh;
  }
  #bottom-part2 p {
    margin-top: 3vh;
    font-weight: 300;
    font-size: 5vw;
  }
  #page4 {
    height: 61vh;
    padding: 10vw 5vw;
  }
  .client-content {
    font-size: 5vw;
  }
  .swiper-slide {
    border-left: none;
    width: 100% !important;
  }

  #page4 h2 {
    font-size: 4vw;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
    /* padding: 0 5vw; */
    margin: 0 0 5vw 5vw;
  }
  #page4 h2::before {
    top: 4px;
  }
  #nav-part2 {
    display: none;
  }
  .hamburger.active:first-child {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active:last-child {
    transform: translateY(-8px) rotate(-45deg);
  }
  #page1 video {
    height: 70vh;
    width: 90%;
    margin-left: 5%;
    object-fit: cover;
    object-position: center;
  }
  .con h1 {
    font-size: 12vw;
  }
  #circle {
    height: 25px;
    width: 25px;
  }
  #page2-bottom {
    flex-direction: column;
    gap: 12vw;
    padding: 8vw 4vw;
  }
  #page2-bottom h1 {
    width: 100%;
    font-size: 8vw;
    line-height: 8vw;
  }
  #bottom-part2 {
    width: 100%;
  }
  .elem {
    height: 17vw;
    padding: 0;
  }
  .elem h2 {
    padding: 0 2vw;
  }
  .fixed-image {
    top: 59vh;
    left: 46%;
    height: 60vw;
    width: 52vw;
  }
  #page3 {
    min-height: 70vh;
    padding: 10vw 5vw;
  }

  #full-div1 {
    height: 50%;
    width: 100vw;
    background-color: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    padding-bottom: 12vw;
  }
  #full-div1 h2 {
    text-transform: uppercase;
    padding: 3vw;
    font-size: 5vw;
  }
  #footer-div {
    height: 70vw;
  }
  #toggler {
    display: flex;
  }
  .hamburger-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .hamburger {
    height: 3px;
    width: 30px;
    background-color: black;
    transition: all ease 0.5s;
  }
  #footer-div {
    flex-direction: column;
    gap: 4vw;
  }
  #footer-div {
    top: 9vw;
  }
  .footer-left {
    flex-direction: row;
    gap: 5vw;
  }
  .footer-left h2 a {
    font-size: 4vw;
  }
  .footer-right {
    width: 100%;
    font-size: 3vw;
  }
  .footer-right h2 {
    font-size: 4vw;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  .elem h2 {
    font-size: 2.5vw;
  }
  .client-content {
    font-size: 1.6vw;
  }
  #page4 h2 {
    font-size: 2vw;
  }
  #right h2 {
    font-size: 18vh;
    line-height: 18vh;
  }
  #bottom-part2 {
    width: 30%;
  }
  .footer-right {
    width: 45vw;
  }
  .swiper{
    height: 30vw !important;
    width: 100%;
  }
}
